.App {
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 10vh;
  text-align: center;
  background-image: url('./assets/space.jpg');
  background-size: cover;
  color: white;
}

h1 {
  margin: 0;
}

p {
  margin: 5px 0;
}

button {
  height: 20px;
  width: 150px;
  background: red;
  color: white;
  border: none;
  border-radius: 15px;
}

.avenger-flex {
  margin-top: 10vh;
  display: flex;
}

.avenger-box {
  height: 150px;
  width: 150px;
  margin: 0px 20px;
  border-radius: 15px;
  background-image: url('./assets/avengers-logo.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-backdrop {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,.5);
}

.add-modal {
  height: 200px;
  width: 250px;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: snow;
  color: black;
}